<nav id="main-navigation">
  <ul>
    <li><a href="/" title="Go to the home page">Home</a></li>
    <li><a href="/inv/type/1" title="View our custom cars">Custom</a></li>
    <li><a href="/inv/type/3" title="View our SUVs">SUV</a></li>
    <li><a href="/inv/type/4" title="View our trucks">Truck</a></li>
    <li><a href="/inv/type/5" title="View our sedans">Sedan</a></li>
  </ul>
</nav>
