<nav id="main-navigation">
  <ul>
    <li><a href="/" title="Go to the home page">Home</a></li>
    <li><a href="/custom" title="View our custom cars">Custom</a></li>
    <li><a href="/suv" title="View our SUVs">SUV</a></li>
    <li><a href="/truck" title="View our trucks">Truck</a></li>
    <li><a href="/sedan" title="View our sedans">Sedan</a></li>
  </ul>
</nav>
