<section id="hero">
  <img src="/images/vehicles/delorean.jpg" alt="DeLorean DMC-12 - a sleek silver sports car">
  <div id="hero-text">
    <h1>Welcome to <span>CSE Motors</span></h1>
    <p>Where every vehicle has a story.</p>
  </div>
</section>

<section id="home-content">
  <div id="own-today">
    <h2>Own Today</h2>
    <img src="/images/site/own_today.png" alt="Own Today promotional banner">
  </div>

  <div id="upgrades">
    <h2>Upgrades</h2>
    <ul class="upgrades-list">
      <li>
        <a href="/detail/1" title="Flux Capacitor">
          <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor">
          <p>Flux Capacitor</p>
        </a>
      </li>
      <li>
        <a href="/detail/2" title="Bumper Sticker">
          <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Sticker">
          <p>Bumper Sticker</p>
        </a>
      </li>
      <li>
        <a href="/detail/3" title="Flame Decal">
          <img src="/images/upgrades/flame.jpg" alt="Flame Decal">
          <p>Flame Decal</p>
        </a>
      </li>
      <li>
        <a href="/detail/4" title="Hub Cap">
          <img src="/images/upgrades/hub-cap.jpg" alt="Hub Cap">
          <p>Hub Cap</p>
        </a>
      </li>
    </ul>
  </div>

  <div id="reviews">
    <h2>CSE Motors Reviews</h2>
    <ul>
      <li>&ldquo;So fast it&rsquo;s almost like traveling in time.&rdquo; <span class="review-author">- Emmett Brown</span></li>
      <li>&ldquo;I love my new Batmobile!&rdquo; <span class="review-author">- Bruce Wayne</span></li>
      <li>&ldquo;Best car ever! Way better than my old van.&rdquo; <span class="review-author">- Fred Jones</span></li>
      <li>&ldquo;The Adventador makes me feel like I&rsquo;m on top of the world.&rdquo; <span class="review-author">- Tony Stark</span></li>
    </ul>
  </div>
</section>
