<div class="management-container">
  <h1>Inventory Management</h1>
  
  <div class="management-intro">
    <p>Welcome to the Inventory Management Center. Here you can add new vehicle classifications to organize our inventory by type, and add new vehicles to our system. Use the buttons below to get started.</p>
  </div>
  
  <div class="management-links">
    <a href="/inv/add-classification" class="btn-primary">Add Classification</a>
    <a href="/inv/add-vehicle" class="btn-primary">Add Vehicle</a>
  </div>
</div>
