<div class="management-container">
  <h1>Inventory Management</h1>
  
  <div class="management-links">
    <a href="/inv/add-classification" class="btn-primary">Add Classification</a>
    <a href="/inv/add-vehicle" class="btn-primary">Add Vehicle</a>
  </div>
</div>
